<footer class="footer py-3 mt-auto" style="background-color: #eae7e3;"> 
    <div class="container"> 
        <span style="color: #024068;"> 
            &copy; EduPilot 2025 
        </span> 
    </div> 
</footer>