<% layout("layouts/boilerplate") %>
<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-6 offset-3">
    <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">

      <div class="mb-4">
        <label for="title" class="form-label"> Title </label>
        <input
          class="form-control"
          type="text"
          placeholder="Enter Campground Title"
          name="campground[title]"
          id="title"
          required
        />
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

      <div class="mb-4">
        <label for="price" class="form-label">Price</label>
        <input
          class="form-control"
          type="number"
          name="campground[price]"
          id="price"
          placeholder="Enter the price"
          required
        />
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      
      <!-- <div class="mb-4">
        <label for="image" class="form-label">Image Url</label>
        <input
          class="form-control"
          type="text"
          name="campground[image]"
          id="image"
          placeholder="Put an image"
          required
        />
        <div class="valid-feedback">
          Looks good!
        </div>
      </div> -->

      <div class="mb-3">
        <label for="formFile" class="form-label">Select Campground Image/s</label>
        <input 
          class="form-control"
          name="campground[image]"
          type="file"
          id="formFile"
          multiple>
      </div>

      <div class="form-floating mb-4">
        
        <textarea
          class="form-control"
          id="floatingTextarea2" 
          style="height: 100px"
          name="campground[description]"
          placeholder="enter description"
          required
        ></textarea>
        <label for="floatingTextarea2" class="form-label">description</label>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

      <div class="mb-4">

        <label for="location" class="form-label">Location</label>

        <select name="campground[location]" id="location" class="form-select">
          <% for(let i = 0; i < 15; i++) { %> <% let location = `${cities[i].city}, ${cities[i].state}` %>
          <option value="<%= location %>"><%= location %> </option>
          <% } %>
        </select>
        
      </div>

      <div class="mb-4">
        <input type="submit" class="btn btn-success" value="Create new Camp" />
      </div>

    </form>
    <a href="/campgrounds" class="btn btn-secondary">Back to Campgrounds</a>
  </div>
</div>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (() => {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.validated-form')

    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
  })()
</script>
